.results
	.row 
		.poster.col-xs-6
			.image
				img(ng-src="{{ !details1.Poster ? 'http://placehold.it/300x450&text=Choose+your+movie' : 'http://imdb.wemakesites.net/api/1.0/img?url='+details1.Poster }}")
				.overlay(ng-hide="showwatched1")
				.finished(ng-show="showwatched1  || postcomment1")
					img(ng-src="/images/checkmark.png")
				.text(ng-show="details1")
					p Director: {{ details1.Director }}
					p Year: {{ details1.Year }}
					p Actors: {{ details1.Actors }}
					p Plot: {{ details1.Plot }}
		.poster.col-xs-6
			.image
				img(ng-src="{{ !details2.Poster ? 'http://placehold.it/300x450&text=Choose+your+movie' : 'http://imdb.wemakesites.net/api/1.0/img?url='+details2.Poster }}")
				.overlay(ng-hide="showwatched2")
				.finished(ng-show="showwatched2  || postcomment2")
					img(ng-src="/images/checkmark.png")
				.text(ng-show="details2")
					p Director: {{ details2.Director }}
					p Year: {{ details2.Year }}
					p Actors: {{ details2.Actors }}
					p Plot: {{ details2.Plot }}