ul(id='suggestionList') Results: 
	li(ng-repeat="movie in movies" ng-click="populateField()") Title: {{ movie.title }}
a(ng-href="/") click me
.test(ng-controller="miscController")
	p(ng-click='generateInstanceID()' style="color: black") SOme text yo
