extend layout
block header
	h1 Movie Battles
block challenge
	.col-xs-offset-5
		button.btn.btn-default(id='newchal' type='button' ng-click="generateInstanceID();") New Challenge
		ul(ng-repeat="chal in latest")		
			li
				a(href="/{{ chal.instance }}" target="_self") {{ chal.movie1 }} vs {{ chal.movie2 }}
