.index_container
	.mainchalbutton
		new-challenge-button
	.welcome
		.outer_row
			.inner_row_wrapper
				.inner_row
					h3 Welcome to Movie Challenges! This web app was designed for movie lovers. This app is currently in infancy stage and we’d love for you to try it out and give us feedback!
					h3 To get started, click the big green button “Start New Challenge”.
					h3 From here it’s all up to you! Create a criteria or challenge that you’d like to impose on a friend or random opponent. The challenge can be anything. 
					h3 For example: “Select an action movie starring Bruce Willis.” 
					h3 When you are done give a friend the URL so they can select a movie for you to watch. 
	.div1
		.outer_row
			.inner_row_wrapper
				.inner_row
					.sub_row
						.col
							.col_row.top
								.img_wrapper
									img(src='/images/themoviedb-logo.png')
							.col_row.bottom
								h3 Movie Search API powered by tmdb
						.col
							.col_row.top
								i(class="fa fa-youtube fa-5x")
							.col_row.bottom
								h3 Play youtube trailers instantly
						.col
							.col_row.top
								i(class="fa fa-share-alt fa-5x")
							.col_row.bottom
								h3 Share with your friends
	.div2
		.outer_row
			.inner_row_wrapper
				.inner_row
	.div3