extend layout
block header
	h1 Movie Battles
block challenge
	.col-xs-offset-4.col-xs-4
		ul(id="last10")
			// li(class="" ng-repeat="stuff in last10challenges()")
			li 
				{{stuff.movie1}} vs {{stuff.movie2}}
