doctype !!!5
html
	head
		title #{title} - My Site    

		// Load Angular
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js')
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js")

		// Stylesheets
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet prefetch', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', type='text/css' href='https://fonts.googleapis.com/css?family=Oswald')
		link(href='https://fonts.googleapis.com/css?family=Hind' rel='stylesheet' type='text/css')
		// Controllers
		script(src='/javascripts/controllers/search.js')
		// Load Scripts
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js')

	block extendhead

	body(ng-app='SearchApp')
		nav(class="navbar navbar-default navbar-fixed-top topnav navbar-collapse")
			div(class="container topnav")
				div(class="navbar-header")
					a(class="navbar-brand" ng-href="/") MOVIE BATTLES
				div(class="collapse navbar-collapse")
					ul(class="nav navbar-nav navbar-right" ng-controller="SearchController")
						li
							a(ng-href="/") Home
						li
							a(ng-href="#" ng-click="generateInstanceID();") New Challenge
						li
							a(ng-href="#") Whatever
						li
							a(ng-href="#") Contact
		.maincontainer
			div(ng-view)