doctype !!!5
html
	head
		title #{title} - My Site    

		// Load Angular
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js')
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js")
		script(src="/javascripts/lib/ui-bootstrap-tpls-0.13.3.min.js")
		script(src='/javascripts/app.js')
		script(src="https://www.youtube.com/iframe_api")
		script(src='/javascripts/lib/angular-youtube-embed.js')
		// Stylesheets
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
		link(rel='stylesheet prefetch', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/xeditable.css')
		link(rel='stylesheet', type='text/css' href='https://fonts.googleapis.com/css?family=Oswald')
		link(href='https://fonts.googleapis.com/css?family=Hind' rel='stylesheet' type='text/css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		// Controllers
		script(src='/javascripts/controllers/main.js')
		script(src='/javascripts/controllers/search.js')
		script(src='/javascripts/controllers/controllers.js')
		// Directives
		script(src='/javascripts/directives/directives.js')
		// Services
		script(src='/javascripts/services/main.js')
		// Load Scripts
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js')
		script(src='/javascripts/lib/xeditable.min.js')


	block extendhead

	body(ng-app='MainApp')
		nav(class="navbar navbar-default navbar-fixed-top topnav navbar-collapse" ng-controller='miscController')
			div(class="container topnav")
				div(class="navbar-header")
					a(class="navbar-brand" ng-href="/") MOVIE BATTLES
				div(class="collapse navbar-collapse")
					ul(class="nav navbar-nav navbar-right")
						li
							a(ng-href="/") Home
						li
							a(ng-href="#" ng-click="generateInstanceID();") New Challenge
						li
							a(ng-href="/search") Search
						li
							a(ng-href="#") Contact
		.maincontainer
			div(ng-view)