body {
  padding: 30px;
    background: #eeeeee none repeat scroll left top;
    color: #444444;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

h2 {
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

#wrapper {
	width: 900px;
	margin: 0 auto;
	position: relative;
	background-color: white;
	border: 1px;
	box-shadow: 10px 10px 40px #888888;

}

#sitebanner {
	width: 900px;
	margin: 0 auto;
	position: relative;
	background-color: white;
	box-shadow: 10px 10px 40px #888888;
	
}
#post {
	width: 900px;
	margin: 0 auto;
	position: relative;
	background-color: white;
	border: 1px;
	padding-bottom: 15px;
	box-shadow: 10px 10px 40px #888888;

}

#postcontainer {
    width: 85%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;


}
#posttitle {
	color: white;
	background-color: #007A7A;
	font-weight: bold;
	text-align: left;
	margin-bottom: 10px;
	padding-left: 15px;
	padding-bottom: 8px;
	padding-top: 8px;
	
	box-shadow: 2px 2px 5px #888888;
	
}
#posttitle span {
	text-align: right;
	font-weight: normal;
	font-style: italic;
	padding-left: 10px;
	font-size: 0.8em;

}

#postbody {
	text-align: left;
	padding-left: 15px;
}

fieldset {
	border:0;
	padding:0; margin:0;
}