
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand');
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/*
 * Nib provides a CSS reset
 */
global-reset()

@-webkit-keyframes resonate {
    from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
    50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
    to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}
.@{fa-css-prefix}-6x { font-size: 6em; }
.@{fa-css-prefix}-7x { font-size: 7em; }
.@{fa-css-prefix}-8x { font-size: 8em; }



/*
 * Store the main color and
 * background color as variables
 */
main-color = black
dark-blue = rgb(18, 37, 47)
slightly-darker-blue = rgb(0, 31, 46)
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

::-webkit-scrollbar
    width 8px
::-webkit-scrollbar-track
    background-color rgba(0 0 0 0)
::-webkit-scrollbar-thumb
    padding-top 2px
    background-color #888
    border-radius 4px
::-webkit-scrollbar-thumb:hover
    background-color #aaa
    
.form-control[readonly]
    background-color inherit

body
    font-family 'Georgia'
    background none repeat scroll left top
    background-color dark-blue
    color white 
    a
        text-decoration none
        color #afafaf
    a:hover
        color #bfbfbf

h3
    font-size 1.6em
    padding .2em 0 1em 0
    font-weight normal

.main_container
    padding-top 50px
    
.contact_container
    margin auto

.outer_row
    font-family 'Open Sans'
    text-align center
    padding-left 10%
    padding-right 10%

.inner_row
    max-height 90%
    margin 0 auto
    position relative
    padding-top 5%
    padding-bottom 5%

.sub_row
    display inline-flex

.col
    position relative
    height 200px
    width 300px
    padding 6 12 6 12
    margin 0 12 0 12
    .col_row
        position absolute
        text-align center
        margin 0 auto
        width inherit
        height 75px
        i
            text-align center
    .top
        top 10%
    .bottom
        bottom 0
        height 30%

[class^="icon-"], [class*=" icon-"] {
    display: block;
    width: 100%;
    margin: auto;
}



.mainchalbutton
    height 300px
.welcome, .contact
    background-color #749a02
    padding-top 10px
    padding-bottom 10px
.div1
    background-color #fff
    color black
.div2
    background-color #224659
.div3
    background-color #512259
    
.contact
    text-align center
    font-family 'Open Sans'
    margin-top 200px
    a
        color #4A4A4A
        text-decoration none

button
    font-family 'Oswald'
    background rgb(15, 34, 44)

.resonate
    -webkit-animation-name: resonate;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;

.modal-body
    padding 0 0 0 0

nav
    font-family 'Hind'
    .navbar-brand
        font-size 24px

#newchal
    width 500
    border 2px solid rgba(0, 0, 0, .5) 
    border-radius 12px
    font-size 36px !important
    margin-bottom 4px
    box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
    :focus
        border-radius 12px

.newchalbtndiv
    width 500
    margin auto
    padding-top 130px

#listwrap
    width 500
    margin auto
    box-shadow: 0 -2px 0 #666, 0 0 0 #444, 0 6px 6px rgba(0,0,0,0.6)
    padding 16px
    border-radius 16px
    margin-bottom 20px
    a
        text-decoration none

#vs
    /*
    color red*/
    text-align center

.lastlist
    counter-reset my-badass-counter
    display table
    
    
.lastlist nl
    position relative
    font bold 18px Oswald
    padding 4px 0px 12px 0px
    display table-row

    
.lastlist nl:before
    content counter(my-badass-counter)
    counter-increment my-badass-counter
    position absolute
    font bold 50px/1 Sans-Serif
    text-align left
    
.lastlist nc
    font-size 24px
    text-align center
    
.lastlist nc, .lastlist nm
    margin-left 50px
    display block
    

/*
messing with some stuff here, comment this out 
to uncenter the movie titles in lastlist
*/
.lastlist nm
    text-align center


.index_container h4
    text-align center
    font-family 'Oswald'
    font-size 36px !important
        
/*.header
    font-family: "Oswald"
    font-size 2.0em
    text-transform uppercase 
    color black
    padding 30px 30px 30px 10px
    font-size 25px
    text-align center
    padding-top 50px
    min-width 400px
    max-width 900px
    position relative
    background lightblue
    border-bottom linear-gradient(bottom, 3% black, white);
    border-radius 0px
    a
        text-decoration none
        */
    /*
     * Note the use of the `main-color`
     * variable and the `darken` function
     */
    /*  background-color darkgrey
    border-bottom 30px solid darken(main-color, 30%)*/


.challenge_container
    width 900px
    position absolute
    top 0
    /*  I commented this out to extend the maincontainer
            because it wasnt big enough for a large list (even
            removing 'height'). Ideally it should grow/shrink
            for our needs on the page.
    bottom 0
        */
    left 0
    right 0
    margin auto
    background dark-blue
    margin-top 100px



.challenge
    padding 30px 0px 50px
    
.challenge .input 
    padding 10px
    border none
    border-bottom: solid 2px #749a02
    transition: border 0.3s

    
.search
    padding 10px

.lock
    max-width 75px
    position absolute
    left 50%
    transform translate(-50%,0)
    text-align center
    z-index 2
    font-family Oswald
    cursor hand
    
    
.results
    position relative
    
    
.poster
    border-radius 3px
    height 500
    padding-top 20px
    background-size 100%
    

.image
    position relative
    border-radius 10px
    width 300
    height 450
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size 100%
    
.image .text 
    position absolute
    top 0em
    padding 10px
    width 300px
    height 350px
    text-align left
    visibility hidden
    color white
    overflow-x hidden
    overflow-y auto

    
/*.image .youtube-play-button   
    bottom 1em
    text-align center
    visibility hidden
    color white
    
.image:hover .youtube-play-button
    visibility visible*/
    
.image .overlay
    position absolute
    top 0em
    background rgba(black,0.85)
    visibility hidden
    transition opacity 1s ease
    
    width 300px
    height 450px

.image .finished
    position absolute
    top 75px
    width 300px
    height auto
    text-align left
    background rgba(green, 0.30)
    background-size 100%
    color white
    
.image:hover .overlay
    opacity 1
    visibility visible
    
.image:hover .text
    visibility visible
    
.image .finished:hover .overlay
    visibility hidden

.image .linkbuttons
    visibility hidden
    position absolute
    bottom 0
    padding-bottom 10
.image:hover .linkbuttons
    visibility visible

.currentchallenge
    text-align center
    padding 30px 30px 30px 30px/*
    background-color lightblue
    box-shadow: 10px 10px 40px #888888*/
    margin-bottom 15px
    margin-top 10px

/**OVERRIDE X-EDIT BOOTSTRAP STYLES */
.glyphicon-ok:before 
  content: "\f023"
  font-family: FontAwesome
  font-size: 1.5em


/******

        INPUT STYLING

                     *******/


.editable-click, a.editable-click, .movielocked
    text-decoration none
    color: #91bd09
    border-bottom solid 2px #749a02 
    font-family Oswald
    line-height 2
    text-align center

.editable-wrap, .editable-controls, .editable-input
    width 100% !important


.editable-input
    color: #91bd09
    background rgba(0,0,0,0)
    border none
    box-shadow none !important
    text-align center
    font-family Oswald
    line-height 2

.challengeinput
  margin 5px
  border solid 2px #749a02
  border-radius 12px
  padding 6 12 6 12
  font-size 18px !important
  transition: border 0.3s
  word-wrap break-word
  .editable-wrap
    border-bottom solid 0px #000 !important
/*  .form-control
    font-size 18px !important
    margin 5px
    border solid 2px #749a02
    border-radius 12px
    padding 6 12 6 12
    font-size 18px !important
    transition: border 0.3s*/
    

.challengelocked
    text-decoration none
    color: #91bd09
    border none
    font-family Oswald
    line-height 2
    text-align center

.commentinput
    border-bottom solid 0px #000 !important
    .editable-wrap
        border-bottom solid 0px #000 !important

.search1-input, .search2-input
    line-height: 1.42857143
    font-size 36px !important
    .editable-input
        font-size 36px !important
        border-bottom solid 2px #749a02 

.form-control
    padding 0 0 0 0 !important
    height inherit



/******

        STYLING FOR INPUT END


                             *******/
                             
/******

        TYPEAHEAD STYLING
        
                            ********/
                            
.image .search-results-container
    position absolute
    top 0em
    overflow hidden
    height 450px
    width 300px
    background rgba(75,75,75,0.85)
    .search-results-list
        position absolute
        width 300px
        .search-result
            font-family Oswald
            height 50px
            .movie-title
                padding-top 2px
                font-size 20px
            .movie-info
                font-size 14px
                bottom 0
                padding-bottom 4px
                margin 0 0 0 0
            a
                text-decoration none
            img
                position relative
                margin-right 10px
                top 0
                height 50px
                width 32px
                float left
        .search-result:hover
            background rgba(100,100,100,0.75)

.linkbuttons
    .imdb-button
        margin-left -15px
    .share-button
        margin-left 15px

/***DEPRECATED***/

/*.editable-buttons
    display: block*/

/*movie type ahead search styling */

#suggestionlist
    color white

.typeahead-search-input
    .popover
        position: bottom


/* deprecated style

    /*.image:hover overlay
    box-shadow:inset 1px 1px 40px 0
    position relative
    position -450
    width 300
    height 450
    color:rbga 255 255 255 .85*/

/*.overlay
    width 300
    height 450
    color:rbga 255 255 255 .85*/
    
/*.poster:hover .overlay
    width 300
    height 450
    color:rbga 255 255 255 .85*/
    
/*.poster:hover .image
    box-shadow:inset 1px 1px 40px 0
    width 300
    height 450
    color:rbga 255 255 255 .85*/