doctype html
html
  head
    // Load Scripts
    // Load Angular
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js')
    // Stylesheets
    link(rel='stylesheet prefetch', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    // Controllers
    script(src='javascripts/search.js')
    // Find how to dynamically change page title with Angular + render through Jade
    title PLACEHOLDER
  // Body
  body
    // Search fields
    div(ng-app='myApp', ng-controller='MovieController')
      .search-bar.col-xs-6
        input.form-control(type='text', ng-model='search1', ng-change='change()', onclick='select()', placeholder='Enter full movie name', autofocus='')
      .search-bar.col-xs-6
        input.form-control(type='text', ng-model='search2', ng-change='change()', onclick='select()', placeholder='Enter full movie name', autofocus='')
      #main-info
        div(ng-if='!details1 && !details2')
          | Loading results...
        .col-xs-6(ng-if="details1.Response==='True'")
          img(ng-src="{{ details1.Poster=='N/A' ? 'http://placehold.it/150x220&text=N/A' : 'http://imdb.wemakesites.net/api/1.0/img?url='+details1.Poster }}")
          span.span-outer
            a(href='http://imdb.com/title/{{ details1.imdbID }}', target='_blank')
              | {{ details1.Title }}
          | , {{ details1.Year }}
        .col-xs-6(ng-if="details2.Response==='True'")
          img(ng-src="{{ details2.Poster=='N/A' ? 'http://placehold.it/150x220&text=N/A' : 'http://imdb.wemakesites.net/api/1.0/img?url='+details2.Poster }}")
          span.span-outer
            a(href='http://imdb.com/title/{{ details2.imdbID }}', target='_blank')
              | {{ details2.Title }}
          | , {{ details2.Year }}
        div(ng-if="details.Response==='False'")
          p You're fucked
